---
import Section from "@/components/Section.astro";

import { languages } from "@cv";
---

<Section title="languages">
  <ul>
    {
      languages.map(({ language, fluency }) => (
        <li>
          <span>{language}</span>
          &#10137;
          <span>{fluency}</span>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  li span {
    padding: 2px 4px;
    font-size: 0.8rem;
    background-color: #eee;
    border-radius: 4px;
  }
</style>
