---
import Section from "@/components/Section.astro";

import { skills } from "@cv";
---

<Section title="Skills">
  <ul>
    {
      skills.map(({ name }) => (
        <li>
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  li {
    padding: 0.2rem 0.6rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: black;
    background-color: #eee;
    border-radius: 6px;
  }
</style>
