---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Languajes from "@/components/sections/Languajes.astro";
import PracticeProjects from "@/components/sections/PracticeProjects.astro";
import Certificates from "@/components/sections/Certificates.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";

import { basics } from "@cv";
const { name, label } = basics;
---

<Layout title={`Portfolio de ${name} - ${label}`}>
	<main>
		<Hero />
		<About />
		<Education />
		<!-- <Projects /> -->
		<Skills />
		<Languajes />
		<PracticeProjects />
		<Certificates />
	</main>

	<KeyboardManager />
</Layout>

<style>
	main {
		width: 100%;
		margin: auto;
		padding: 4rem;
	}

	@media (width <= 700px) {
		main {
			padding: 2rem;
		}
	}
</style>
